@import "tailwindcss";

:root {
  --clr-neutral-0: #F8F8FF;
  --clr-neutral-100: #E1E1E6;
  --clr-neutral-200: #C4C4CC;
  --clr-neutral-300: #8D8D99;
  --clr-neutral-1000: #0B1215;

  --clr-blue-500: #139BFD;
  --clr-blue-600: #0a86de;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0 auto;
}

html {
  font-size: 16px;
}

a {
  font-weight: 500;
  color: var(--clr-blue-500);
  text-decoration: inherit;
}
a:hover {
  color: var(--clr-blue-600);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--clr-neutral-0);
  color: var(--clr-neutral-1000);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}